* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d1c5c5;
}

/* HEADER */

header {
  background-color: #2c2929;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin-bottom: 10px;
}

main {
  padding: 30px;
}

form {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background-color: #2c2929;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

section {
  margin-top: 20px;
}
section h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 560px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 780px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
