* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    margin: 0;
    padding: 50px 20px;
    color: #1a0101;
}

main {
    max-width: 650px;
    margin: auto;
    background: rgb(233, 225, 230);
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: bold;
    margin-top: 8px;
}

input {
    padding: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input:focus {
    border-color: #333;
}

form button {
    margin-top: 10px;
    padding: 13px;
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background: #23a568;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fafafa;
}

li:hover {
    background: #f1f1f1;
}

.del {
    padding: 9px 16px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.del:hover {
    background: #b52b27;
}

li.bought {
    text-decoration: line-through;
    opacity: 0.5;
}

#total {
    font-size: 24px;
}